ANTHROPIC_API_KEY=sk-ant-apixx-xxxxx
ELASTIC_URI=http://prokaryotes-elasticsearch:9200
LOG_LEVEL=INFO
NEO4J_AUTH=neo4j/Ma9icMicr0be
NEO4J_URI=bolt://prokaryotes-neo4j:7687
OPENAI_API_KEY=sk-proj-xxxxx
POSTGRES_HOST=prokaryotes-postgres
POSTGRES_PASSWORD=Ma9icMicr0be
POSTGRES_USER=postgres
REDIS_HOST=prokaryotes-redis