ANTHROPIC_API_KEY=sk-ant-apixx-xxxxx
ELASTIC_URI=http://prokaryotes-elasticsearch:9200
EMBEDDINGS_URL=http://prokaryotes-emb:8001/embs
IMAP_HOST=imap.mail.me.com
IMAP_PASSWORD=xxxx-xxxx-xxxx-xxxx
IMAP_USERNAME=john.doe@icloud.com
LOG_LEVEL=INFO
NEO4J_AUTH=neo4j/Ma9icMicr0be
NEO4J_URI=bolt://prokaryotes-neo4j:7687
OPENAI_API_KEY=sk-proj-xxxxx
POSTGRES_HOST=prokaryotes-postgres
POSTGRES_PASSWORD=Ma9icMicr0be
POSTGRES_USER=postgres
REDIS_HOST=prokaryotes-redis