networks:
  prokaryotes: {}

volumes:
  elastic-data: {}
  neo4j-data: {}

services:

  # Databases

  elasticsearch:
    networks: [prokaryotes]
    container_name: prokaryotes-elasticsearch
    image: elasticsearch:9.3.0
    ports:
      - "9200:9200"
    volumes:
      - elastic-data:/usr/share/elasticsearch/data
    environment:
      "discovery.type": single-node
      "logger.level": ERROR
      "xpack.security.enabled": false
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:9200/_cluster/health?wait_for_status=green&timeout=2s" ]
      interval: 3s
      timeout: 2s
      retries: 20
    stop_grace_period: 1m

  neo4j:
    networks: [prokaryotes]
    container_name: prokaryotes-neo4j
    image: neo4j:latest
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    volumes:
      - neo4j-data:/data
    environment:
      NEO4J_AUTH: &neo4j-auth neo4j/${NEO4J_PASSWORD:-Ma9icMicr0be}
      NEO4J_server_jvm_additional: "--add-modules jdk.incubator.vector"
    healthcheck:
      test: [ "CMD", "wget", "-q", "-t=1", "http://localhost:7474" ]
      interval: 3s
      timeout: 2s
      retries: 20
    stop_grace_period: 1m

  # Tests

  unit-tests:
    container_name: prokaryotes-unit-tests
    image: "prokaryotes:latest"
    pull_policy: build
    build:
      context: .
      dockerfile: docker/app.Dockerfile
    working_dir: /app
    volumes:
      - ./tests:/app/tests:ro
      - ~/.cache/huggingface:/root/.cache/huggingface:ro
    entrypoint: uv
    command: ["run", "pytest"]

  # Apps

  elasticsearch-init:
    networks: [prokaryotes]
    container_name: prokaryotes-elasticsearch-init
    image: "prokaryotes:latest"
    working_dir: /app
    volumes:
      - ./.env:/app/.env:ro
    environment: &common-elastic-env
      ELASTIC_URI: "http://prokaryotes-elasticsearch:9200"
    entrypoint: uv
    command: ["run", "python", "-m", "scripts.search_init"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  emb:
    container_name: prokaryotes-emb
    networks: [prokaryotes]
    image: "prokaryotes:latest"
    ports:
      - "8001:8001" # HTTP
    working_dir: /app
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface:ro
    environment:
      HF_HUB_OFFLINE: "1"
      TRANSFORMERS_OFFLINE: "1"
    entrypoint: uv
    command: ["run", "uvicorn", "scripts.emb:v1.app", "--host", "0.0.0.0", "--port", "8001"]
    depends_on:
      unit-tests:
        condition: service_completed_successfully
    stop_grace_period: 1m

  imap-ingest:
    container_name: prokaryotes-imap-ingest
    networks: [prokaryotes]
    image: "prokaryotes:latest"
    working_dir: /app
    volumes:
      - ./.env:/app/.env:ro
    environment: &common-env
      <<: *common-elastic-env
      NEO4J_AUTH: *neo4j-auth
      NEO4J_URI: "bolt://prokaryotes-neo4j:7687"
    entrypoint: uv
    command: ["run", "python", "-m", "scripts.imap_ingest"]
    depends_on:
      elasticsearch-init:
        condition: service_completed_successfully
      neo4j:
        condition: service_healthy
      unit-tests:
        condition: service_completed_successfully

  web:
    container_name: prokaryotes-web
    networks: [prokaryotes]
    image: "prokaryotes:latest"
    ports:
      - "8000:8000" # HTTP
    working_dir: /app
    volumes:
      - ./.env:/app/.env:ro
    environment: *common-env
    entrypoint: uv
    command: ["run", "uvicorn", "scripts.web:v1.app", "--host", "0.0.0.0", "--port", "8000"]
    depends_on:
      elasticsearch-init:
        condition: service_completed_successfully
      neo4j:
        condition: service_healthy
      unit-tests:
        condition: service_completed_successfully
    stop_grace_period: 1m
